<div class="card">
  <mat-card class="matCard">TẠO THÔNG BÁO </mat-card>
  <div [formGroup]="notiForm" class="addUser-column">
    <!-- <mat-form-field class="example-full-width">
          <textarea matInput placeholder="id" formControlName="id"></textarea>
        </mat-form-field> -->
    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="Tiêu đề"
        formControlName="title"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="Nội Dung Thông Báo"
        formControlName="desc"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!notiForm.valid"
      (click)="addNoti()"
    >
      add
    </button>
  </div>
</div>
