<div class="flex">
  <a routerLink="/screenAdmin/listRequest" routerLinkActive="active">
    <div class="card bg-do text-white h-100">
      <div class="card-body bg-do">
        <div class="rotate">
          <i class="fa fa-user fa-4x"></i>
        </div>
        <h6 class="text-uppercase">Yêu Cầu Sự Cố</h6>
        <hr />
        <h1 class="display-4">{{ listRequest.length }}</h1>
      </div>
    </div>
  </a>
  <a routerLink="/screenAdmin/notification/addNoti" routerLinkActive="active">
    <div class="card bg-success text-white h-100">
      <div class="card-body bg-success">
        <div class="rotate">
          <i class="fa fa-user fa-4x"></i>
        </div>
        <h6 class="text-uppercase">Tạo Thông Báo</h6>
        <hr />
        <h1 class="display-4">{{ listNoti.length }}</h1>
      </div>
    </div>
  </a>
  <a routerLink="/screenAdmin/listUser/addUser" routerLinkActive="active">
    <div class="card bg-vang text-white h-100">
      <div class="card-body bg-vang">
        <div class="rotate">
          <i class="fa fa-user fa-4x"></i>
        </div>
        <h6 class="text-uppercase">Thêm Cư Dân</h6>
        <hr />
        <h1 class="display-4">{{ listUser.length }}</h1>
      </div>
    </div>
  </a>
</div>
