<a routerLink="/screenUser/listIssue/addIssue">
  <button mat-raised-button color="primary" class="add">
    <i class="material-icons"> library_add </i>BÁO CÁO SỰ CỐ
  </button>
</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3" *ngFor="let i of listIssue; let i = index">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="" src="/assets/image/suco.jpg" alt="Card image cap" />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ i.tittle }}</h4>
            <p class="card-text">{{ i.desc }}</p>
          </div>
        </div>
        <div class="card-footer">
          <h4 class="text-muted">{{ i.status }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
