<div>
  <h1>Báo Cáo Sự Cố</h1>
  <div [formGroup]="issueForm" class="add-noti">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="id" formControlName="id"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="tiêu đề"
        formControlName="tittle"
      ></textarea>
    </mat-form-field>
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
    <button mat-raised-button color="primary" [disabled]="!issueForm.valid">
      Thêm
    </button>
  </div>
</div>
