<div class="card">
  <mat-card class="matCard">Thông Tin cư dân </mat-card>
  <div [formGroup]="userForm" class="addUser-column">
    <!-- <mat-form-field class="example-full-width">
        <textarea matInput placeholder="id" formControlName="id"></textarea>
      </mat-form-field> -->
    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="họ và tên"
        formControlName="name"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="số phòng"
        formControlName="address"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="email" formControlName="email"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="số điện thoại"
        formControlName="phone"
      ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!userForm.valid"
      (click)="addUser()"
    >
      add
    </button>
  </div>
</div>
